{% extends 'base.html' %}
{% load static %}

{% block head-title %}About{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{% block content %}

<!--------------------------------------------------------------------->

<h1 class="title">About NumberDB</h1>

<ol class="contents">
<li><a href="#welcome">Welcome</a></li>
<li><a href="#work-in-progress">Work in progress</a></li>
<li><a href="#acknowledgements">Acknowledgements</a></li>
</ol>


<h2 id="welcome">Welcome</h2>
NumberDB is a collaborative database of numbers.

The underlying idea is that in practise, <em>numbers are determined by their first 10 digits.</em>

That makes them searchable.
NumberDB attempts to be a tool to identify numbers, and to show known descriptions.
Which numbers are stored depends on their simplicity and their relevance.
<!--
Thus, if the number you search for is not in the database, consider contributing.
-->

<div class="medskip"></div>

NumberDB stores numbers in tables.
<b>Tables</b> are families of numbers together with a description.
Thus a number can appear in several tables: 
For example, the number 1 is in the table of <a href="/C2">Integers</a>, <a href="/C9">Values of the Gamma function</a>, and it has its own table <a href="/C1">One</a> as it is a special number.

<div class="medskip"></div>

Tables of numbers also contain a definition, a description of parameters, and possibly formulas, comments, references, links, programs, and further more specific information.

<div class="medskip"></div>

Furthermore tables are given <b>tags</b>, which helps searchability and classification.


<!--
The aim for NumberDB is to contain around 10000 table of around 1000 number each.
-->

<!--------------------------------------------------------------------->

<h2 id="work-in-progress">Work in progress</h2>

The database just started and is in active development.
There are various development goals:
<ul>
<li>
<div class="li-header">More numbers and tables</div>
Our aim is to have around 10000 tables of around 1000 numbers. 
This makes around 10<sup>7</sup> numbers in total, which can be reasonably searched using 10 digits.
Which numbers we choose will be determined by their simplicity and significance.
<a href="{% url 'db:help' %}#how-to-contribute">Contributions</a> are greatly welcome.
</li>

<li>
<div class="li-header">More efficient and ergonomic search</div>
Search results should be ordered by significance.
Moreover, registered users should be allowed to do bulk searches.
</li>

<li>
<div class="li-header">Giving credits</div>
Contributors will be named at the table webpages.
</li>

<li>
<div class="li-header">New number types</div>
A short term goal is to include complex numbers; especially when they are more significant than their real and imaginary parts alone.
A long term goal is to include p-adic numbers.
</li>

<li>
<div class="li-header">API and table download</div>
For some users it will be useful to access the data in a programmable bulk way.
With some effort, this can already be done by cloning the <a href="https://github.com/bmatschke/numberdb-data">numberdb-data</a> repository.
It is however desirably to have a simpler interface that makes the data available to user's laptops, and to open source computer algebra systems such as SageMath and Pari/GP.
</li>

<li>
<div class="li-header">User interaction</div>
Users should be able to give comments, discuss tables, declare numbers as "wanted", rate tables, have a public(?) profile which includes a list of contributions.
</li>
</ul>

<h2 id="acknowledgements">Acknowledgements</h2>

NumberDB is build and runs on various open-source projects:
<a href="https://www.djangoproject.com/">Django</a>, 
<a href="https://www.postgresql.org/">PostgreSQL</a>, 
<a href="https://www.sagemath.org/">SageMath</a>,
<a href="https://pari.math.u-bordeaux.fr/">Pari/GP</a>,
<a href="https://arblib.org/">arb</a>,
<a href="https://nginx.org/en/">nginx</a>, 
<a href="https://gunicorn.org/">Gunicorn</a>, 
<a href="https://github.com/irmen/Pyro5">Pyro5</a>,
<a href="https://git-scm.com/">git</a>.
NumberDB's repositories are stored on <a href="https://github.com/">GitHub</a>.
NumberDB's server is funded by the main developer Benjamin Matschke, who in turn is supported by <a href="https://www.bu.edu/">Boston University</a> and <a href="https://simonscollab.icerm.brown.edu/">Simons Foundation grant #550023</a>.


<!--------------------------------------------------------------------->

{% endblock %}
