{% extends 'base.html' %}

{% block head-title %}Collections{% endblock %}

{% block extra_head %}
<style>
td.collection-label-cid {
  text-align: right;
  padding-right: 0.5rem;
}
</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Collections</li>
{% endblock %}

{% block content %}

    <h1 class="title">Collections</h1>

    Sort by:
    <a href="?sort_by=id">id</a> &middot; 
    <a href="?sort_by=title">title</a> &middot; 
    <a href="?sort_by=number_count">numbers</a>
    <br>
    <br>

    <table class="infinite-container">
      {% for collection in collections %}
        <tr class="infinite-item">
	   <td class="collection-label-cid"> 
	    {{ collection.cid }}:
	   </td> 
	    <td>
		<a href="{% url 'db:collection' collection.cid %}">{{ collection.title }}</a>
		
		{% if collection.number_count == 1 %} 
		    (1 number)
		{% else %}
		    ({{ collection.number_count }} numbers)
		{% endif %}
	    </td>
         </tr>
      {% endfor %}
    </table>
    
    {% if collections.has_next %}
      <a class="infinite-more-link" href="?{% if sortby %}sort_by={{ sortby }}&{% endif %}page={{ collections.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
      Loading...
    </div>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
    </script>
{% endblock %}
