{% extends 'base.html' %}
{% load static %}

{% block head-title %}Help topics{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{% block content %}

<!--------------------------------------------------------------------->

<h1 class="title">Help topics</h1>

<ol class="contents">
<li><a href="#how-to-search">How to search</a></li>
<li><a href="#number-types">Number types and displayed accuracy</a></li>
<li><a href="#how-to-contribute">How to contribute</a></li>
<li><a href="#pipeline">Data pipeline</a></li>
<li><a href="#faq">Frequently asked questions</a></li>
</ol>

<!--------------------------------------------------------------------->

<h2 id="how-to-search">How to search</h2>

{% include 'includes/search-tips.html' %}

<!--------------------------------------------------------------------->

<h2 id="number-types">Number types and displayed accuracy</h2>

Numbers in NumberDB can be of the following types.

<ul>
<li>
<div id="number-type-integer" class="li-header">Integers:</div>
Integers are represented exactly as decimal numbers, e.g. "3" and "-1729".
</li>

<li>
<div class="li-header">Rational numbers:</div>
Rational numbers are represented exactly as factions of integers, e.g. "-3/2".
</li>

<li>
<div class="li-header">Real numbers:</div>
Real numbers are usually hard to represent exactly.
Instead we store an exactly represented interval that contains the real number.
The smaller the interval, the higher the accuracy.
The interval can be given in one of the following formats:
 <ul>
 <li id="number-type-real-decimal">Decimal expansion: 
     e.g. "3.14" represents the interval $[3.13, 3.15]$, that is, 
     the last digit may be off by at most $1$.
     Scientific notation is allowed, e.g. "12e2" represents the interval $[1100, 1300]$.
     Note: If the decimal expansion does not contain "." or "e", it will be 
     understood as an <a href="#number-type-integer">exactly represented integer</a>.
 </li>
 <li>Real interval: e.g. "[2, 2.3728596]". The end-points are exactly given.
 </li> 
 <li>Real balls: e.g. "3.14 +/- 2e-2" represents the interval $[3.12, 3.16]$. 
     The center and radius of the real ball are exactly given.
 </li> 
 <li>NumberDB's p-notation: e.g. "1p31415" represents the interval [3.1414, 3.1416]. 
     In general, for two integers A and B, 
     "ApB" corresponds to the <a href="#number-type-real-decimal">decimal expansion</a>
     0.BeA, where again the last digit of B may be off by 1.
     The sign of the number is determined by the sign of B.
 </li>
 </ul>
</li>
</ul>

These formats apply to the collections' webpages as well as to the raw data in yaml format.
<!--
Note that in the yaml format one has put quotation marks around square brackets, such that
the interval does not get parsed as a list.
-->

<!--------------------------------------------------------------------->

<h2 id="how-to-contribute">How to contribute</h2>
    
Contributions are possible in a number of ways:

<ul>
<li>
<div class="li-header">Bug reports, feature requests, general discussions:</div>
Visit the <a href="https://github.com/bmatschke/numberdb-website/issues">GitHub issue page</a> (preferred), or send an email to info@numberdb.org.
</li>

<li>
<div class="li-header">Typos in collections, adding references, comments, etc.:</div>
Edit the corresponding yaml-file in the 
<a href="https://github.com/bmatschke/numberdb-data">numberdb-data</a> repository.
The link can be found above the title on the collection's webpage.
</li>

<li>
<div class="li-header">Contribute new collections:</div>
There will soon be a more complete guideline for that.
You need to create a collection.yaml in a new folder of the 
<a href="https://github.com/bmatschke/numberdb-data">numberdb-data</a> 
repository and submit a pull request.
It will be easiest to copy an existing collection.yaml 
from another collection, and modify it.
Keep the first line "ID: INPUT{id.yaml}", but do not copy the id.yaml, 
as it will be added automatically by our robot zeta3.
</li>

<li>
<div class="li-header">Programming the webpage:</div>
The current webpage is still in development. 
See the issues section of the GitHub repository 
<a href="https://github.com/bmatschke/numberdb-website">numberdb-website</a>, 
or the <a href="{% url 'db:about' %}#work-in-progress">work in progress</a> section.
</li>
</ul>

Credits for contributions are automatically given within git and on GitHub, 
as every single change is stored in a permanent history.
In the future, contributors to collections of numbers will be 
automatically displayed also on numberdb.org.

<!--------------------------------------------------------------------->

<h2 id="pipeline">Data pipeline</h2>

<img src="{% static '/update.png' %}" style="float: right; margin: 2rem; width: calc(7rem + 0 * var(--xlrem));">

<ol>
<li>
<div class="li-header">Raw data:</div>
The raw data is entered in human readable form (yaml) in the git repository <a href="https://github.com/bmatschke/numberdb-data">numberdb-data</a> on GitHub.
To every new collection, a bot associates an ID that serves as a permanent identifier.
</li>

<li>
<div class="li-header">Database builder:</div>
The raw data gets transformed regularly into the numberdb.org database.
During this process, a search index is created.
</li>

<li>
<div class="li-header">Webpage:</div>
That database can be accessed through <a href="http://numberdb.org">numberdb.org's searchbar</a>.
</li>
</ol>

<!--------------------------------------------------------------------->

<h2 id="faq">Frequently asked questions</h2>

<ul>
<li>
<div class="li-header">Why do I need to specify the period in the real number search?</div>
Because the period is even more significant than the highest digit.
In principle, one could implement a search of real numbers 
by their first few digits without the knowledge of the period; 
however this would ask for numbers up to powers of 10, 
which does not seem natural enough in general.
We implemented a search by the fractional part, 
as it does not depend on the base.
</li>
</ul>

<!--------------------------------------------------------------------->

{% endblock %}
