{% extends 'base.html' %}
{% load static %}

{% block head-title %}Help topics{% endblock %}

{% block extra_head %}

<!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<style>
img.help-screenshot {
  border: 0.4rem solid #bdb;
  width: 100%;
  max-width: 520px;
}
div.help-screenshot-container {
  display: block;
  padding: 0.3rem;
  text-align: center;   
}
p.help-text {
  display: block;
  margin: auto;
  max-width: calc(520px + 5rem);
}
div.contents {
}
ol.contents {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
hr.contents {
  margin: 0.6rem;
  height: 0;
  width: 2rem;
  margin-left: 1rem;
}
h2.contents {
  border: 0;
  margin: 0;
  padding: 0;
  color: 555;
  font-size: 1rem;
}


div.main-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
div.sidebar {
}
div.headline {
}
div.main-column {
}
@media only screen and (min-width: 48rem) {
  div.main-content {
    flex-direction: row;
  }
  div.sidebar {
    order: 1;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top: 0;
    overflow: auto;
    flex-basis: 15rem;
  }
  div.headline {
    order: 2;
  }
  div.main-column {
    order: 3;
    flex-basis: calc(48rem);
  }
}

.contents  a {
  padding: 0 0.3rem;
  border-radius: 0.6rem;
}
.contents a:hover {
}
.contents a.active {
  background-color: #b0be90;
  color: #fff;
}
:target {
  #border: 2px solid #D4D4D4;
  background-color: #e5eecc;
}

</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{% block content %}

<!--------------------------------------------------------------------->


<div class="main-content">



<div class="sidebar section table-of-contents">

<div class="headline">
<h1 class="title">Help topics</h1>
</div>

<ol class="contents">
<li><a href="#section-welcome">Welcome</a></li>
</ol>
<div class="contents">
<hr class="contents">

<h2 class="contents">Search</h2>
<ol class="contents">
<li><a href="#section-how-to-search">How to search</a></li>
<li><a href="#section-advanced-search-guide">Advanced search guide</a></li>
<li><a href="#section-number-types">Number types and accuracy</a></li>
</ol>
<hr class="contents">

<h2 class="contents">Contribute</h2>
<ol class="contents">
<li><a href="#section-how-to-contribute">How to contribute</a></li>
<li><a href="#section-guide-to-editing-tables">Guide to editing tables</a></li>
<li><a href="#section-guide-to-creating-new-tables">Guide to creating new tables</a></li>
<li><a href="#section-format-of-tables">Format of tables</a></li>
<li><a href="#section-pipeline">Data pipeline</a></li>
</ol>
<hr class="contents">
<ol class="contents">
<li><a href="#section-faq">Frequently asked questions</a></li>
<li><a href="#section-acknowledgements">Acknowledgements</a></li>
</ol>
</div>
</div>

<div class="main-column">

<!--------------------------------------------------------------------->

<div id="section-welcome" class="section scrollspy">
<h2 id="welcome">Welcome</h2>

NumberDB is a collaborative database of numbers.

The underlying idea is that in practise, <em>numbers are determined by their first 10 digits.</em>

That makes them searchable.
NumberDB attempts to be a tool to identify numbers, and to show known descriptions.
Which numbers are stored depends on their simplicity and their relevance.
<!--
Thus, if the number you search for is not in the database, consider contributing.
-->

<div class="medskip"></div>

NumberDB stores numbers in tables.
<b>Tables</b> are families of numbers together with a description.
Thus a number can appear in several tables: 
For example, the number 1 is in the table of <a href="/C2">Integers</a>, <a href="/C9">Values of the Gamma function</a>, and it has its own table <a href="/C1">One</a> as it is a special number.

<div class="medskip"></div>

Tables of numbers also contain a definition, a description of parameters, and possibly formulas, comments, references, links, programs, and further more specific information.

<div class="medskip"></div>

Furthermore tables are given <b>tags</b>, which helps searchability and classification.


<!--
The aim for NumberDB is to contain around 10000 table of around 1000 number each.
-->
</div>

<!--------------------------------------------------------------------->

<div id="section-how-to-search" class="section scrollspy">
<h2 id="how-to-search" class="section scrollspy">How to search</h2>

{% include 'includes/search-tips.html' %}
</div>

<!--------------------------------------------------------------------->

<div id="section-advanced-search-guide" class="section scrollspy">
<h2 id="advanced-search-guide" class="section scrollspy">Advanced search guide</h2>

{% include 'includes/search-tips-advanced.html' %}
</div>

<!--------------------------------------------------------------------->

<div id="section-number-types" class="section scrollspy">
<h2 id="number-types" class="section scrollspy">Number types and displayed accuracy</h2>

Numbers in NumberDB can be of the following types.

<ul>
<li>
<div id="number-type-integer" class="li-header">Integers:</div>
Integers are represented exactly as decimal numbers, e.g. "3" and "-1729".
</li>

<li>
<div class="li-header">Rational numbers:</div>
Rational numbers are represented exactly as fractions of integers, e.g. "-3/2".
</li>

<li>
<div class="li-header">Real numbers:</div>
Real numbers are usually hard to represent exactly.
Instead we store an exactly represented interval that contains the real number.
The smaller the interval, the higher the accuracy.
The interval can be given in one of the following formats:
 <ul>
 <li id="number-type-real-decimal">Decimal expansion: 
     e.g. "3.14" represents the interval $[3.13, 3.15]$, that is, 
     the last digit may be off by at most $1$.
     Scientific notation is allowed, e.g. "12e2" represents the interval $[1100, 1300]$.
     Note: If the decimal expansion does not contain "." or "e", it will instead denote 
     an <a href="#number-type-integer">exactly represented integer</a>.
 </li>
 <li>Real interval: e.g. "[2, 2.3728596]". The end-points are exactly given.
 </li> 
 <li>Real balls: e.g. "3.14 +/- 2e-2" represents the interval $[3.12, 3.16]$. 
     The center and radius of the real ball are exactly given.
 </li> 
 <li>NumberDB's p-notation: e.g. "1p31415" represents the interval [3.1414, 3.1416]. 
     In general, for two integers A and B, 
     "ApB" corresponds to the <a href="#number-type-real-decimal">decimal expansion</a>
     0.BeA, where again the last digit of B may be off by 1.
     The sign of the number is determined by the sign of B.
 </li>
 </ul>
</li>
</ul>

These formats apply to the tables' webpages as well as to the raw data in yaml format.
<!--
Note that in the yaml format one has put quotation marks around square brackets, such that
the interval does not get parsed as a list.
-->
</div>

<!--------------------------------------------------------------------->

<div id="section-how-to-contribute" class="section scrollspy">
<h2 id="how-to-contribute" class="section scrollspy">How to contribute</h2>
    
Contributions are possible in a number of ways:

<ul>
<li>
<div class="li-header">Bug reports, feature requests, general discussions:</div>
Visit the <a href="https://github.com/numberdb/numberdb-website/issues">GitHub issue page</a> (preferred), or send an email to info@numberdb.org.
</li>

<li>
<div class="li-header">Typos in tables, adding references, comments, etc.:</div>
You may edit the table's yaml file via the <a href="#guide-to-editing-tables">Guide to editing tables</a> below.
In short:
Edit the corresponding yaml-file in the 
<a href="https://github.com/numberdb/numberdb-data">numberdb-data</a> repository.
The link can be found below the title on the table's webpage.
</li>

<li>
<div class="li-header">Contribute new tables:</div>
You may contribute new tables via the <a href="#guide-to-editing-tables">Guide to creating new tables</a> below.
In short: 
You need to create a table.yaml in a new folder of the 
<a href="https://github.com/numberdb/numberdb-data">numberdb-data</a> 
repository and submit a pull request.
<!--
It will be easiest to copy an existing table.yaml 
from another table, and modify it.
Keep the first line "ID: INPUT{id.yaml}", but do not copy the id.yaml, 
as it will be added automatically by our robot zeta3.
You may either do this on GitHub directly, or by forking or cloning the respository and creating a pull request to the main branch.
-->
</li>

<li>
<div class="li-header">Programming the webpage:</div>
The current webpage is still in development. 
See the issues section of the GitHub repository 
<a href="https://github.com/numberdb/numberdb-website">numberdb-website</a>, 
or the <a href="{% url 'db:about' %}#work-in-progress">work in progress</a> section.
</li>
</ul>

Credits for contributions are automatically given within git and on GitHub, 
as every single change is stored in a permanent history.
In the future, contributors to tables of numbers will be 
automatically displayed also on numberdb.org.
</div>

<!--------------------------------------------------------------------->

<div id="section-guide-to-editing-tables" class="section scrollspy">
<h2 id="guide-to-editing-tables" class="section scrollspy">Guide to editing tables</h2>

To edit tables, you will need a <a href="https://github.com">GitHub</a> account.
For more advanced changes, we recommend to review the <a href="#format-of-tables">Format for tables's source code</a>.

<ol>
<li>
<div id="guide-edit-tables-preview" class="li-header">Preview for editing tables</div>
<p class="help-text">
In case you want to preview your edits (or simply test what's possible), 
go to the table's webpage and click on "preview edits":
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/preview-edits-link.png' %}">
</div>
<p class="help-text">
Make arbitrary modifications and click on "Show preview" to see how the changes will look like:
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/show-preview.png' %}">
</div>
<p class="help-text">
Once you are happy with the changes, copy the yaml code to the clipboard.
</p>
</li>

<li>
<div class="li-header">Edit table on GitHub</div>
<p class="help-text">
At the table's webpage click on "edit on github":
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/edit-on-github-link.png' %}">
</div>
<p class="help-text">
If you want to change table.yaml, click on "Edit this file":
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/github-table-yaml-edit-link.png' %}">
</div>
<p class="help-text">
Paste the yaml code from step 1 into the editor.
</p>
</li>

<li>
<div class="li-header">Save (commit) changes on GitHub</div>
<p class="help-text">
To save changes,
scroll down, 
give your changes a title (such as "fixed typo"),
give a more detailed description of the changes (if necessary),
and click on commit:
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/github-table-yaml-commit-changes.png' %}">
</div>
<p class="help-text">
An editor will review your changes. Thanks!
</p>
</li>

</ol>
</div>

<!--------------------------------------------------------------------->

<div id="section-guide-to-creating-new-tables" class="section scrollspy">
<h2 id="guide-to-creating-new-tables" class="section scrollspy">Guide to creating new tables</h2>

To create new tables, you will need a <a href="https://github.com">GitHub</a> account.
We recommend to review the <a href="#format-of-tables">Format for tables's source code</a>.

<ol>
<li>
<div id="guide-to-creating-new-tables-preview" class="li-header">Preview for new tables</div>
<p class="help-text">
We recommend that you start from the yaml code of an existing table of your choice and adjust accordingly.
For this, follow the <a href="#guide-editing-tables-preview">Preview step</a> in the <a href="#guide-to-editing-tables">Guide to editing tables</a>.
</p>
</li>

<li>
<div class="li-header">Create new table.yaml on GitHub</div>
<p class="help-text">
In the <a href="https://github.com/numberdb/numberdb-data/tree/main/data">data folder</a> of the NumberDB data repository, find a suitable folder for your table folder.
As an example, we will create the "Golden ratio" table in the folder "data/Basic_constants".
Go to that folder and click on "... -> Create new file":
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/github-create-table-link.png' %}">
</div>
<p class="help-text">
As a filename, enter "Golden_ratio/table.yaml".
(Each table has its own folder, which contains a main file "table.yaml".
The folder name will work as a url for the table and should be unique without spaces.)
Copy and paste the yaml code from the <a href="#guide-to-creating-new-tables-preview">Preview step</a> into the editor:
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/github-create-table.png' %}">
</div>
</li>

<li>
<div class="li-header">Save (commit) new table on GitHub</div>
<p class="help-text">
To save the new table,
scroll down, 
give your commit a short title (such as "added golden ratio table"),
give a more detailed description of the table (why it should be included, if necessary),
and click on commit:
</p>
<div class="help-screenshot-container">
<img class="help-screenshot" src="{% static '/img/github-create-table-commit.png' %}">
</div>
<p class="help-text">
An editor will review your new table. Thanks!
</p>
</li>

</li>

</ol>
</div>

<!--------------------------------------------------------------------->

<div id="section-format-of-tables" class="section scrollspy">
<h2 id="format-of-tables" class="section scrollspy">Format of tables's source code</h2>

<p>
The source code of each table is written in 
<!--<a href="https://yaml.org">YAML</a>, -->
<a href="https://en.wikipedia.org/wiki/YAML">YAML</a>, 
a human-friendly language for data.
</p>

<p>
More help will come later.
</p>
</div>

<!--------------------------------------------------------------------->

<div id="section-pipeline" class="section scrollspy">
<h2 id="pipeline" class="section scrollspy">Data pipeline</h2>

<img src="{% static '/img/update.png' %}" style="float: right; margin: 2rem; width: calc(7rem + 0 * var(--xlrem));">

<ol>
<li>
<div class="li-header">Raw data:</div>
The raw data is entered in human readable form (yaml) in the git repository <a href="https://github.com/numberdb/numberdb-data">numberdb-data</a> on GitHub.
To every new table, a bot associates an ID that serves as a permanent identifier.
</li>

<li>
<div class="li-header">Database builder:</div>
The raw data gets transformed regularly into the numberdb.org database.
During this process, a search index is created.
</li>

<li>
<div class="li-header">Webpage:</div>
That database can be accessed through <a href="http://numberdb.org">numberdb.org's searchbar</a>.
</li>
</ol>
</div>

<!--------------------------------------------------------------------->

<div id="section-faq" class="section scrollspy">
<h2 id="faq" class="section scrollspy">Frequently asked questions</h2>

<ul>
<li>
<div class="li-header">Why do I need to specify the period in the real number search?</div>
Because the period is even more significant than the highest digit.
In principle, one could implement a search of real numbers 
by their first few digits without the knowledge of the period; 
however this would ask for numbers up to powers of 10, 
which does not seem natural enough in general.
We implemented a search by the fractional part, 
as it does not depend on the base.
</li>
</ul>
</div>

<!--------------------------------------------------------------------->

<div id="section-acknowledgements" class="section scrollspy">
<h2 id="acknowledgements" class="section scrollspy">Acknowledgements</h2>

NumberDB is build and runs on various open-source projects:
<a href="https://www.djangoproject.com/">Django</a>, 
<a href="https://www.postgresql.org/">PostgreSQL</a>, 
<a href="https://www.sagemath.org/">SageMath</a>,
<a href="https://pari.math.u-bordeaux.fr/">Pari/GP</a>,
<a href="https://arblib.org/">arb</a>,
<a href="https://nginx.org/en/">nginx</a>, 
<a href="https://gunicorn.org/">Gunicorn</a>, 
<a href="https://github.com/irmen/Pyro5">Pyro5</a>,
<a href="https://git-scm.com/">git</a>.
NumberDB's repositories are stored on <a href="https://github.com/">GitHub</a>.
NumberDB's server is funded by the main developer Benjamin Matschke, who in turn is supported by <a href="https://www.bu.edu/">Boston University</a> and <a href="https://simonscollab.icerm.brown.edu/">Simons Foundation grant #550023</a>.
</div>

<!--------------------------------------------------------------------->

<div style="height:50vh;">
</div>


</div> <!-- end main column -->
</div> <!-- end main content -->

<script>
  $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
</script>

{% endblock %}
