{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{# Remove search bar from top: #}
{% block top-searchbar %}
{% endblock %}

{% block content %}


<style>
#title {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
}
#subtitle {
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
}
#beta-title {
  display: inline;
  position: fixed;
  font-size: 0.4em;
  font-weight: 200;
  color: inherit;
  text-decoration: none;
}
#beta-title:hover {
  text-decoration: underline;
}
div.home-searchbar-container {
  --searchbox-width: calc(20rem + 10 * var(--lrem));
  width: var(--searchbox-width);
  margin: auto;
}
</style>

<br>
    <div id="title">
	NumberDB<a href="{% url 'db:about'%}#work-in-progress" id="beta-title">beta</a>
    </div>

<!--
    <div id="subtitle">
	A collaborative database of numbers
    </div>
-->

<br>

<div class="home-searchbar-container">   
{% include 'includes/searchbar.html' with autofocus=True %}
</div> 

<!--
    <a href="{% url 'db:collections' %}">
	All collections
    </a>
    <br>

    <a href="{% url 'db:tags' %}">
	All tags
    </a>
    <br>
-->

    
{% endblock %}
