{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'db:tags' %}">Tags</a></li>
  <li class="breadcrumb-item active">{{ tag.name }}</li>
{% endblock %}

{% block content %}

<style>

div.property-title {
  font-size: 1.3rem;
  display: block;
  margin: 1rem 0 0.5rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #888;
}
div.property-plain,
div.property-latex {
  display: inline;   
}
div.property-plain {
  display: none;   
}

/* The container */
label.container {
  display: inline;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */
label.container input {
  display: none;
/*  position: absolute;
  opacity: 0;
  cursor: pointer;
*/
}
.checkmark {
  color: #0a58ca;
  text-decoration: underline;
}
label.container input:checked ~ .checkmark {
  color: #000;
  text-decoration: none;
}
label.container:hover .checkmark {
  color: #22a;
}
div.normal-font {
  display: inline;
  font-size: 1rem;
}
td.oeis-a {
  padding: 0 0.5rem 0 0.5rem;
  text-align: right;
  vertical-align: top;    
}
td.oeis-name {
  padding: 0 0.5rem 0 0.5rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid #aaa;   
}
@media only screen and (min-width: 48rem) {
  tr:not(:last-child) {
    border-bottom: 1px solid #eee;   
  }
}

tr:nth-child(even) {
  /*background: #eee; #f5f5f5;*/
}
</style>

<h1>Properties</h1>

Show as:
<label class="container">
  <input type="radio" checked="checked" name="radio" value="latex">
  <span class="checkmark">latex</span>
</label>
&middot;
<label class="container">
  <input type="radio" name="radio" value="plain">
  <span class="checkmark">plain text</span>
</label>

{% if ISC_href %}
<br>
Lookup number at <a href="{{ ISC_href }}">ISC</a>.
{% endif %}


{% if OEIS_href %}
<!--
<br>
Lookup number at <a href="{{ OEIS_href }}">OEIS</a>.
-->
{% endif %}

{% if Wiki_href %}
<br>
Lookup number at <a href="{{ Wiki_href }}">Wikipedia</a>.
{% endif %}

<!--
<div class="property">
Number: 
{{ number }}
</div>
-->


{% for property in properties %}
  <div class="property">
    <div class="property-title">{{ property.title | safe }}:</div> 
    <div class="property-plain">{{ property.plain | safe }}</div> 
    <div class="property-latex">{{ property.latex | safe }}</div> 
  </div>
{% endfor %}

{% if show_OEIS_sequences %}
  <div class="property">
    <div class="property-title">OEIS sequences containing this number 
            {% if OEIS_sequences %} 
                &nbsp; 
                <div class="normal-font">
                  (lookup number at 
                  <a href="{% if OEIS_href %}{{ OEIS_href }}{% else %}www.oeis.org{% endif %}">OEIS</a>)
                </div>
            {% endif %}
    </div>
    
    
    <table>
    <tbody>
    
     {% for sequence in OEIS_sequences %}
       <tr>
         <td class="oeis-a">
           <a href="https://www.oeis.org/A{{ sequence.a_number }}">A{{ sequence.a_number }}</a>
         </td>
         <td class="oeis-name">
           {{ sequence.name }}
         </td>
       </tr>
     {% empty %}
       {% if integer >= 100 or integer <= -100 %}
         None.
       {% else %}
         Look up number at <a href="{% if OEIS_href %}{{ OEIS_href }}{% else %}www.oeis.org{% endif %}">OEIS</a>.
       {% endif %}  
     {% endfor %}        
    
    
    </tbody>
    </table>
    
    
    {% comment %}
    
     {% for sequence in OEIS_sequences %}
       <div class="property-block">
         <a href="https://www.oeis.org/A{{ sequence.a_number }}">A{{ sequence.a_number }}</a>:
         {{ sequence.name }}
       </div>
     {% empty %}
       {% if integer >= 100 or integer <= -100 %}
         None.
       {% else %}
         Look up number at <a href="{% if OEIS_href %}{{ OEIS_href }}{% else %}www.oeis.org{% endif %}">OEIS</a>.
       {% endif %}  
     {% endfor %}        

    {% endcomment %}
  </div>
{% endif %}

  <script>
      
  
  
  $( function() {
    $( "#show-select" ).selectable({
      stop: function() {
        //var result = $( "#select-result" ).empty();
        $( ".ui-selected", this ).each(function() {
          var index = $( "#show-select li" ).index( this );
          //result.append( " #" + ( index + 1 ) );
            console.log(index);
          if (index == 0) {
            $(".property-latex").css('display','inline');
            $(".property-plain").css('display','none');
          }
          else if (index == 1) {
            $(".property-latex").css('display','none');
            $(".property-plain").css('display','inline');
          }
        });
      }
    });
  } );


  $(function() {
    $("input[type='radio']").on('click', function(e) {
       var value = $(this).val();
       //console.log(value);
       if (value == "latex") {
         $(".property-latex").css('display','inline');
         $(".property-plain").css('display','none');
       }
       else if (value == "plain") {
         $(".property-latex").css('display','none');
         $(".property-plain").css('display','inline');
       }
    });
  });
  </script>    

{% endblock %}
