{% extends 'base.html' %}

{% block head-title %}Tables{% endblock %}

{% block extra_head %}

    <meta property="og:description" content="List of all tables.">
    <meta name="description" content="List of all tables.">

<style>
td.table-label-tid {
  text-align: right;
  padding-right: 0.5rem;
}
</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Tables</li>
{% endblock %}

{% block content %}

    <h1 class="title">List of tables</h1>

    Sort by:
    <a href="?sort_by=id">id</a> &middot; 
    <a href="?sort_by=title">title</a> &middot; 
    <a href="?sort_by=number_count">numbers</a>
    <br>
    <br>

    <table>
    <tbody class="infinite-container">
      {% for table in tables %}
        <tr class="infinite-item">
	   <td class="table-label-tid"> 
	    {{ table.tid }}:
	   </td> 
	    <td>
		<a href="{% url 'db:table' table.tid %}">{{ table.title }}</a>
		
		{% if table.number_count == 1 %} 
		    (1 number)
		{% else %}
		    ({{ table.number_count }} numbers)
		{% endif %}
	    </td>
         </tr>
      {% endfor %}
    </tbody>
    </table>
    
    {% if tables.has_next %}
      <a class="infinite-more-link" href="?{% if sortby %}sort_by={{ sortby }}&{% endif %}page={{ tables.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
      Loading...
    </div>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
          MathJax.typeset();
        }
      });
    </script>
{% endblock %}
