{% extends 'base.html' %}

{% block head-title %}{{ tag.name | safe }} (tag){% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'db:tags' %}">Tags</a></li>
  <li class="breadcrumb-item active">{{ tag.name }}</li>
{% endblock %}

{% block content %}

    <h1>Tag <div class="tag">{{ tag.name }}</div></h1>

    Sort by:
    <a href="?sort_by=id">id</a> &middot; 
    <a href="?sort_by=title">title</a> &middot;
    <a href="?sort_by=number_count">numbers</a>
    <br>
    <br>

    {% for collection in collections %}
      {{ collection.cid }}: 
		<a href="{% url 'db:collection' collection.cid %}">{{ collection.title }}</a>
		
		({{ collection.number_count }} number{{ collection.number_count|pluralize }})

       <br>
    {% endfor %}

{% endblock %}
