{% extends 'base.html' %}

{% block head-title %}Tags{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item active">Tags</li>
{% endblock %}

{% block content %}

    <h1 class="title">Tags</h1>
    
    Sort by:
    <a href="?sort_by=name">name</a> &middot; 
    <a href="?sort_by=collection_count">collections</a> &middot;
    <a href="?sort_by=number_count">numbers</a>
    <br>
    <br>
    
    {% for tag in tags %}
		<a class="tag" href="{% url 'db:tag' tag.url %}">{{ tag.name }}</a>
		
		({{ tag.collection_count }} collection{{ tag.collection_count|pluralize }}, 
		 {{ tag.number_count }} number{{ tag.number_count|pluralize }})

		<br>
    {% endfor %}

{% endblock %}
