{% extends 'base.html' %}

{% block full-head-title %}The Number Database{% endblock %}

{% block extra_head %}

    <meta property="og:description" content="NumberDB is a database of numbers - scientific, collaborative, open-source. Search for integers, rationals, reals, as well as complex and p-adic numbers.">
    <meta name="description" content="NumberDB is a database of numbers - scientific, collaborative, open-source. Search for integers, rationals, reals, as well as complex and p-adic numbers.">

<style>
#title {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
}
#subtitle {
  font-weight: 200;
  text-align: center;
  font-size: 1rem;
}
#beta-title {
  display: inline;
  position: absolute;
  font-size: 0.4em;
  font-weight: 200;
  color: inherit;
  text-decoration: none;
}
#beta-title:hover {
  text-decoration: underline;
}
div.home-searchbar-container {
  --searchbox-width: calc(20rem + 10 * var(--lrem));
  width: var(--searchbox-width);
  margin: auto;
}
a.searchbar-link {
  color: #888;
  font-size: 0.8rem;
  text-decoration: none;
}
a.searchbar-link:hover {
  text-decoration: underline;
}
div.searchbar-help {
  text-align: right;
}
div#searchtips {
  display: none;
  width: calc(23rem + 30 * var(--lrem));
  margin: auto;
  border: 1rem solid #ddd;
  padding: 0.5rem;
}
</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li>
{% endblock %}


{# Remove search bar from top: #}
{% block top-searchbar %}
{% endblock %}

{% block content %}



<br>
    <div id="title">
	NumberDB<a href="{% url 'db:about'%}#work-in-progress" id="beta-title">beta</a>
    </div>

    <div id="subtitle">
	A scientific, encyclopedic, collaborative database of numbers.
    </div>

<br>

<div class="home-searchbar-container">   
{% include 'includes/searchbar.html' with autofocus=True %}
<div class="searchbar-help">
<a class="searchbar-link" href="#" onclick="toggle_visibility('searchtips','searchbar-help');">search tips</a>
&middot;
<a class="searchbar-link" href="{% url 'db:advanced-search' %}">advanced search</a>
</div>
</div> 

<div id="searchtips">
{% include 'includes/search-tips.html' %}
</div>

<script type="text/javascript">
<!--
    function toggle_visibility(id_content, id_link) {
       var content = document.getElementById(id_content);
       var a = document.getElementById(id_link);
       if(content.style.display == 'block') {
          content.style.display = 'none';
          a.text = 'search tips';
       } else {
          content.style.display = 'block';
          a.text = 'close search tips';
       }
    }
//-->
</script>

{% endblock %}
