{% extends 'base.html' %}
{% load account %}
{% load static %}

{% block head-title %}Profile {{ user_shown.username }}{% endblock %}

{% block extra_head %}
<style>
a.edit-link {
  font-size: 1rem;
}
</style>
{% endblock %}

{% block content %}

<h1 class="title">Profile {{ user_shown.get_full_name }}</h1>

<h2>Username</h2>
{{ user_shown.username }}

<h2>About{% if is_self %}
          (<a class="edit-link" href="{% url 'db:profile-edit' %}">edit</a>)
         {% endif %}
</h2>
{{ user_shown.profile.bio }}


<h2>Settings</h2>

{% load socialaccount %}

<a href="{% provider_login_url 'github' process='connect' %}">Connect a GitHub account</a>

<br>


<a href="{% url 'account_email' %}">Change E-mail</a>


{% if user.is_authenticated %}
{% get_social_accounts user as accounts %}

{% if accounts %}
{% if accounts.github %}
Linked GitHub accounts:
{{ accounts.github }}
{% endif %}
{% endif %}


<!--
<br>

Social account providers:

{% get_providers as socialaccount_providers %}
{{ socialaccount_providers }}
-->

{% endif %}



{% endblock %}
