{% extends 'base.html' %}

{% block head-title %}{{ tag.name | safe }} (tag){% endblock %}

{% block extra_head %}
<style>
td.table-label {
  text-align: right;
  padding-right: 0.5rem;
}
</style>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'db:home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'db:tags' %}">Tags</a></li>
  <li class="breadcrumb-item active">{{ tag.name }}</li>
{% endblock %}

{% block content %}

    <h1>Tag <div class="tag">{{ tag.name }}</div></h1>

    Sort by:
    <a href="?sort_by=id">id</a> &middot; 
    <a href="?sort_by=title">title</a> &middot;
    <a href="?sort_by=entry_count">entries</a>
    <br>
    <br>
    
    <table>
    <tbody class="infinite-container">
      {% for table in tables %}
        <tr class="infinite-item">
	   <td class="table-label"> 
            {{ table.tid }}: 
	   </td> 
	    <td>
		<a href="{% url 'db:table' table.tid %}">{{ table.title }}</a>
		({{ table.number_count }} {{ table.type_str }}{{ table.number_count|pluralize }})
	    </td>
         </tr>
      {% endfor %}
    </tbody>
    </table>

    {% if tags.has_next %}
      <a class="infinite-more-link" href="?{% if sortby %}sort_by={{ sortby }}&{% endif %}page={{ tables.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
      Loading...
    </div>

    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('.loading').hide();
        }
      });
    </script>

{% endblock %}
