{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head-title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<style>
ul.socialaccount_providers {
    margin: 1rem 0;
    list-style-type: none;
}
</style>

<h1>{% trans "Sign in" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in via your GitHub account. {% endblocktrans %}</p>

<div class="socialaccount_ballot">

 <h3>Sign in via:</h3>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>

{% endif %}

{% endblock %}
