{% extends "account/base.html" %}

{% load i18n %}

{% block head-title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change account">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
