django
django-allauth
django-db
requests
requests-oauthlib
psycopg2-binary
python-decouple
dj-database-url
django-anymail[mailgun]
django-widget-tweaks
gitpython
pyyaml
timeout-decorator
func-timeout
beautifulsoup4
Pyro5
django-extensions
gunicorn
numpy
