<style>
div.table-title {
  font-weight: 400;
  font-size: 2rem;
  margin: 0.2rem 0rem;   
}
div.table-section-title {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0 0.2rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #aaa;
}
div.table-section-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;
}
div.table-table {
  display: table;
  width: 100%;
  max-width: 100%;
}
div.table-subtable {
  display: table;
  width: 100%;
}
div.table-block {
  display: table-row;
  scroll-margin-top: 30vh;
}
div.table-label {
  display: table-cell;
  padding: 0 0.5rem;
  text-align: center;
  width: 2rem;
}
div.table-param-group,
div.table-param-group-header {
  display: table-cell;
  padding: 0 0.5rem 0 0;
  text-align: right;
  width: 1rem;
  scroll-margin-top: 30vh;
  white-space: nowrap;
}
div.table-cell-right,
div.table-cell-right-header,
div.table-entry {
  display: table-cell;
}
div.table-cell-right-header {
  text-align: left; 
}
div.table-param-group-header {
  text-align: right;
}
.table-number {
  word-wrap: break-word;
  word-break: break-all;
}
div.table-number-section-outer-container {
}
div.table-number-section-container {
  overflow-y: auto;
  max-height: 50vh;
}

@media only screen and (min-width: 64rem) {
  div.table-number-section-outer-container {
    width: calc(50% + 1.5rem);
    padding-left: 3rem;
    padding-bottom: 2rem;
    /*border-left: 1px solid #eee;*/
    float: right;
    background: #fff;
  }
  div.table-number-section-container {
    overflow-y: auto;
    max-height: calc(100vh - 15rem); 70vh;
  }
}

a.HREF {
  color: #22a;   
}
a.CITE {
  color: #22a;   
}

a.github-link,
a.preview-link,
a.history-link {
  font-size: 0.8rem;
  color: #555;
  text-decoration: dotted underline;
  /*float: right;*/
}
a.github-link:hover,
a.preview-link:hover {
  text-decoration: underline;   
}
:target {
  scroll-margin-top: 5rem;
}

code.table-code {
  /*white-space: nowrap;*/
  background: #fff;
  font-size: 0.9em;
  padding: 0.1rem 0;  
}
</style>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/languages/python.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
/*
function scrollTo(event, id) {
  event.preventDefault();
  element = document.getElementById(id);
  element.scrollIntoView({behavior: "smooth", block: "nearest", inline: "nearest"});
}
*/
</script>


{% include 'includes/table-header.html' %}


<div class="table-number-section-outer-container">
<div class="table-section-title">{{ number_section.title | safe }}</div>
<div class="table-number-section-container">
  {% if number_section.text %}
    <div class="table-text">{{ number_section.text | safe }}</div>
  {% elif number_section.number %}
    <div class="table-text">
    <div class="table-number">
      {% for p in number.params_display %}
        {{ p | safe }}
      {% endfor %}
      {{ number_section.number.number | safe }}
    </div>
    </div>
  {% elif number_section.number_list %}
    <div class="table-table">
      <div class="table-block">
        {% for group in number_section.param_groups %}
          <div class="table-param-group-header">
            {{ group | safe }} 
          </div>
        {% endfor %}
        <div class="table-cell-right-header">
          {% if number_section.number_header %}
            {{ number_section.number_header | safe }}
          {% endif %}
        </div>
      </div>
      {% for n in number_section.number_list %}
        <div {% if n.params_id %}id="{{ n.params_id }}"{% endif %} class="table-block">
          {% for p in n.params_display %}
            <div class="table-param-group">
              {{ p | safe }}
            </div>
          {% endfor %}
          <div class="table-cell-right table-number">
            {% if n.number %}
                {{ n.number | safe}}
            {% else %}
              {% include 'includes/number-extra-info-snippet.html' with info=n.extra_info %}
            {% endif %}
          </div>
        </div>
      {% endfor %}    
    </div>
  {% else %}
    No numbers given.  
  {% endif %}
</div>
</div>

{% for section in sections %}
  <div class="table-section-title">{{ section.title | safe }}</div>
  <div class="table-section-container">
    {% if section.text %}
      <div class="table-text">{{ section.text | safe }}</div>
    {% endif %}
    {% if section.labeled_list %}
      <div class="table-table">
      {% for block in section.labeled_list %}
        <div class="table-block" id="{{ block.label_id | safe }}">
          <div class="table-label">{{ block.label_caption | safe }}</div>
          <div class="table-entry">{{ block.text | safe }}</div>			
        </div>
      {% endfor %}
	  </div>
    {% endif %}
    {% if section.unlabeled_list %}
      <div class="table-table">
      {% for block in section.unlabeled_list %}
        <div class="table-block">
          <div class="table-entry">{{ block.text | safe }}</div>			
        </div>
      {% endfor %}
	  </div>
    {% endif %}
  </div>
{% endfor %}


{{  table_html | safe }}


<!--
<hr>Data: {{ table.data.json }}
-->

<script>
/*
var acites = document.getElementsByClassName("CITE");
for (i = 0; i < acites.length; i++) {
    //break;
    a = acites.item(i);
    a.CITE_TARGET_ID = a.getAttribute('HREF').substring(1);
    a.setAttribute('HREF','#');
    a.addEventListener("click",function(event) {
            //Event.stop(event);
            //event.preventDefault();
            console.log(event);
            aself = event.target;
            id_target = aself.CITE_TARGET_ID;
            console.log(id_target);
            target = document.getElementById(id_target);
            //target.scrollIntoView({behavior: "smooth", block: "nearest", inline: "nearest"});
            window.scrollIntoView(target);
            return false;
        }, false
    );
}
*/
/*
$(document).ready(function() {
          $('a[href^="#"]').click(function() {
              $('html, body').animate({
                  scrollTop: $('[id="' + $.attr(this, 'href').substr(1) + '"]').offset().top
                }, 500, function() {
            window.location.hash = href;
          });
              return false;
            });
        });
*/        
 let $root = $('html, body');
      $('a[href^="#"]').click(function() {
          let href = $.attr(this, 'href');
          var newScrollTop = $(href).offset().top - 100
          $root.animate({
            'scrollTop': newScrollTop,
            //'background-color': '#e5eecc'
          }, 400, function() {
            //$('html').append('<style>'+href+':target {scrollTop: '+newScrollTop+';}</style>');
            window.location.hash = href;
          });
          return false;
        });
</script>
