SECRET_KEY=password1_to_be_changed
POSTGRES_KEY=password2_to_be_changed
DEBUG=FALSE
ALLOWED_HOSTS=.numberdb.org

DATABASE_URL=postgres://u_numberdb:${POSTGRES_KEY}@localhost:5432/numberdb

ACCOUNT_DEFAULT_HTTP_PROTOCOL=https

SOCIALACCOUNT_GITHUB_ID=
SOCIALACCOUNT_GITHUB_SECRET=

#EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
EMAIL_MG_API_KEY=
EMAIL_MG_API_BASE_URL=


SAGE=export PYTHONPATH=./:${PYTHONPATH}; sage

PYTHON=$(SAGE) -python
PIP=$(SAGE) -pip
#Use the following paths for python and pip if sage is importable within the system's python:
#PYTHON=python
#PIP=pip

MANAGE=$(PYTHON) manage.py
