{% load static %}

<style>
.highlight .ui-menu-item {
  background: #fff;
}
.highlight .ui-state-active {
  background: #eee;
}
a.ui-menu-item-wrapper {
  display: block;
  text-decoration: none;
}
#searchbox.ui-autocomplete-loading {
/*  text-decoration: underline;     
  text-decoration-color: #aaa;
*/  
}

#searchbox-component {
  --searchbox-width: calc(20rem + 10 * var(--lrem));
  --searchbox-border: 0.3rem; 
    
  display: inline-block;
  border-radius: var(--searchbox-border);
  border: 1px solid #bbb;
  padding: 0px;
  color: #000;
  background-color: #fff;
  outline: 0;
  width: 100%; var(--searchbox-width);
  text-align: center;
  margin: auto;
  /*margin: 0;*/
}
#searchbox-component:focus-within {
  box-shadow: 0 0 10px #ddd;
}
#searchbox {
  border: 1px solid black;
  border: none;
  margin: 0;
  padding: 0.6rem;
  outline: 0;
  width: 100%; calc(var(--searchbox-width) - 1.8rem - 3px);
  border-radius: var(--searchbox-border);
}
#searchbox-image {
  width: calc(1rem);
  margin: 0 0.8rem;
  /*border: 1px solid black;*/
}
#msg-no-entry {
  background: #fff;
  padding: 0.1rem 0.5rem;
  margin: 0.3rem;
  position: fixed;
  z-index: 1;
  transform: translateX(-50%) translateY(0);   
  border-radius: 1em;
}
table.searchbox-table  td {
  width: 100%;
  padding: 0 var(--searchbox-border);
}
.searchbar-result-title {
    
}
.searchbar-result-subtitle {
  padding-left: 0.5rem;    
}


/*
.ui-widget-content {
  color: #000;
}
.ui-widget-content:hover {
  color: #000;  
} 
.ui-menu-item > .ui-menu-item-wrapper {
  color: #000;
}
.ui-menu-item:hover > .ui-menu-item-wrapper {
  color: #000;
  border: 1px solid #aaa;
}
.ui-menu-item:hover > .ui-menu-item-wrapper > a{
  color: #000;
}
*/

/*
.ui-menu .ui-menu-item {
  font-size: inherit;
  margin: 0;
  background: #fff;
  padding: 0;  
  cursor: pointer;
}
.ui-menu .ui-menu-item-wrapper {
  padding-left: 0.5rem;
  border: 1px solid #fff;
}
.ui-menu .ui-menu-item:hover .ui-menu-item-wrapper {
  border: 1px solid #aaa;
}
.ui-menu {
  width: 80vw;
  font-size: 1.1rem;
  padding-left: 0;
  border: 1px solid #aaa;
  list-style: none;
  list-style-image: none;
  color: #000;
}
*/
</style>

<!--
  <div id="searchbox-component"
    ><input id="searchbox" 
      {% if autofocus %} autofocus {% endif %} 
      {# placeholder="Try 3.14 or L-function" #} 
      {% if searchterm %} value="{{ searchterm }}" {% endif %}
    ><img id="searchbox-image" src="{% static 'search.png' %}"
  ></div>
-->

<div id="searchbox-component">
 <table class="searchbox-table" width="100%" style="border-spacing:0;">
  <tbody>
   <tr>
    <td 
     ><input id="searchbox" 
      {% if autofocus %} autofocus {% endif %} 
      {# placeholder="Try 3.14 or L-function" #} 
      {% if searchterm %} value="{{ searchterm }}" {% endif %}
     ></td>
    <td><img id="searchbox-image" src="{% static 'search.png' %}"></td>
   </tr>
  </tbody>
 </table>
 <span style="display:none" id="msg-no-entry">No match in database</span>
</div>
 

 
<script>
$(document).ready(function(){
    //all the jquery code must be placed here
    
    $.widget( "numberdb.searchbox", $.ui.autocomplete, {
	_renderItem: function( ul, item ) {
	    li = $( "<li></li>" )
		.append(`<a href="${item.url}"><div class="searchbar-result-title">${item.title}</div><div class="searchbar-result-subtitle">${item.subtitle}</div></a>`)
		.appendTo( ul );
	    
	    /*
	    if (item['type'] == 'tag') { 
		li = $( "<li></li>" )
		    .append(`<a href="${item.url}">${item.title}<br>&nbsp;&nbsp;${item.subtitle}</a>`)
		    //.append(`<a href="${item.url}">${item.title}</a>`)
		    .appendTo( ul );
	    } else if (item['type'] == 'number') { 
		li = $( "<li></li>" )
		    .append(`<div><a href="${item.url}">${item.title}</a><br>&nbsp;&nbsp;${item.subtitle}</div>`)
		    .appendTo( ul );
	    } else if (item['type'] == 'collection') { 
		li = $( "<li></li>" )
		    .append(`<a href="${item.url}">${item.title}<br>&nbsp;&nbsp;${item.subtitle}</a>`)
		    .appendTo( ul );
	    } else if (item['type'] == 'link') { 
		li = $( "<li></li>" )
		    .append(`<a href="${item.url}">${item.title}<br>&nbsp;&nbsp;${item.subtitle}</a>`)
		    .appendTo( ul );
	    }
	    */
	    return li;
	}
    });
    
    var selectItem = function (event, item) {
	//$("#searchbox").val(ui.item.value);
	//return false;
	console.log("select():")
	console.log(event)
	console.log(item)
	event.preventDefault();
	window.location.href = item.item.url
    }
    
    var getData = function (request, response) {
 
	var term = $('#searchbox').val().trim();
	if (term == '') {
            $('#msg-no-record').hide();
            $('#msg-no-entry').hide();
	    return;
	}
	var api_url = "{% url 'db:suggestions' %}";
	$.getJSON(api_url, { 'term': term },
 
	    function (data) {
		//console.log(data);
		console.log(data['time_request']);
		entries = data['entries'];
		var availableTags = [];
		if (entries == '4') {
	            $('#msg-no-record').show();
	            $('#msg-no-entry').hide();
 	        } else if (Object.keys(entries).length == 0) {
	            $('#msg-no-record').hide();
	            $('#msg-no-entry').show();
		} else {
		    //console.log(Object.keys(entries));
	            $('#msg-no-record').hide();
	            $('#msg-no-entry').hide();
	            availableTags = entries;
	        }
		response(availableTags);
	     }
	);
    };
    
    
    $( "#searchbox" ).searchbox({
    	//source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
	source: getData,
        select: selectItem,
        minLength: 0,
        change: function() {
	    var term = $('#searchbox').val().trim();
	    if (term == '') {
		$('#msg-no-record').hide();
		$('#msg-no-entry').hide();
	    }
	},
	focus: function( event, ui ) {
	    //console.log("focussed:", ui);
	    return false; //Avoids search text to be altered?
	},
/*	close: function( event, ui ) {
	    console.log("closing",ui);
	    //event.preventDefault();
	    $('.ui-autocomplete').show()
	    return false; //Avoids search text to be altered?
	},
*/	classes: {
	    "ui-autocomplete": "highlight",
	    //"ui-menu-item": "highlight"
	}
    });

    $( "#searchbox" ).focus(function () {
	//console.log("focus");
	$(this).searchbox("search");
	//$('.ui-autocomplete').show(); 
	//show() may not be good enough:
	//
	return true;
    });
    
    $( "#searchbox-image, #searchbox-component").bind( 
	"click", 
	function() {
	    var sb = document.getElementById("searchbox");
	    if (sb !== document.activeElement) {
		sb.focus();
	    }
	}
    ); 
    
});
</script>




