The searchbar can be used to search for:

<ul>

<li id="how-to-search-real-numbers">
<div class="li-header">Real numbers:</div>
Enter the number in one of three formats:
<ul>
<li>
<em>Decimal representation</em> including the period, 
e.g. "3.14" to search for pi.
The search will be done in an interval around the entered number: 
Entering "3.14" will search for numbers in the interval (3.13, 3.15).
<li>
<em>Scientific notation</em> (no period necessary), 
e.g. "14e2" to search numbers between 1300 and 1500.
</li>
<li>
NumberDB's <em>p-notation</em>: 
Enter a term of the form "ApB", where A and B are integers. 
It corresponds to the number 10<sup>A</sup> &middot; 0.B, e.g. "1p314" for pi.
The sign of the number is determined by the sign of B.
</li>
</ul>
</li>

<li>
<div class="li-header">Fractional parts of real numbers:</div>
Enter the first few digits after the period, e.g. "1415" for pi.
</li>

<li>
<div class="li-header">Integers:</div>
Enter the exact integer without period, e.g. "-1".
This works for integers with up to 127 binary digits (roughly 38 decimal digits).
For longer integers, try to <a href="#how-to-search-real-numbers">search them as real numbers</a>.
</li>

<li>
<div class="li-header">$p$-adic numbers:</div>
Search for numbers in $\mathbb{Q}_p$ in one of two formats:
<ul>
<li>
Enter "Q2:1010" to search for $2^0 + 2^2 + O(2^5)$. 
Enter "Q2:1.1010" to search for $2^{-1} + 2^0 + 2^2 + O(2^5)$. 
For $p>10$, any $p$-adic digit needs to be given in base 10 with the same number of base 10 letters as $p$, 
e.g. "Q13:0102" will search for $13$-adic numbers of the form $1+2\cdot 13 + O(13^2)$.
Minus signs are also interpreted, e.g. "Q3:-220" searches for $1 + 2\cdot 3^2 + O(3^3)$.
</li>
<li>
Enter "3 + O(2^5)" or "2^0+2^1+O(2^5)" for numbers of the form $2^0 + 2^2 + O(2^5)$.
This format also works for $\mathbb{Q}_p$, e.g. enter "3/5 + O(5)".
</li>
</ul>

<li>
<div class="li-header">Tables:</div>
<!--Enter the first letters of one word in the title, e.g. "Rie" for zeros of the Riemann zeta function. 
-->
Enter words from the table's title, keywords, tags, definition, or comments.
</li>

<li>
<div class="li-header">Tags:</div>
Enter the first letters of one word of a tag, e.g. "irr" for the tag "Irrational".
</li>
</ul>

