The advanced searchbar can be used to search for:

<ul>
<li id="how-to-search-real-numbers">
<div class="li-header">Lists of real numbers</div>
Use <a href="https://sagemath.org">Sage syntax</a> to enter 
a number, a list of numbers, or a dictionary of the form {param: number}.
The lists and dictionaries may be nested.
The numbers might be given via formulas involving standard functions such as sin and sqrt, as well as standard constants such as e and pi.
<br>
Examples:
<ul>
<li>
<code>-2, pi, e</code> searches for certain constants.
</li>
<li>
<code>{n: 2^n for n in [1..10]}</code> searches for $2^1$, ..., $2^{10}$.
</li>
<li>
<code>RIF(10,11)</code> searches for all numbers contained in the interval $[10,11]$.
</li>
<li>
<pre><code>{a: {b: a/b 
      for b in [1..5] if gcd(a,b) == 1
    } 
  for a in [-5..5] 
}</code></pre> searches certain small rational numbers.
</li>
</ul>
</li>

<li id="how-to-search-real-numbers">
<div class="li-header">Lists of complex numbers</div>
Similarly one can search for complex numbers.
Recommended parents are 
CIF (complex interval field), 
CBF (complex ball field), 
and SR (symbolic ring), 
although CC (complex field via floats) should work as well 
unless too much precision is lost during the computation. 
</li>

<li id="how-to-search-p-adic-numbers">
<div class="li-header">Lists of p-adic numbers</div>
Similarly one can search for p-adic numbers in $\mathbb{Z}_p$ and $\mathbb{Q}_p$.<br>
Examples:
<ul>
<li>
<code>Qp(2,prec=4)(5)</code> searches for $5 + O(2^4)$ = $2^0 + 2^2 + O(2^4)$, 
that is, any $2$-adic integer with first four $2$-adic digits $1$, $0$, $1$, $0$.
</li>
<li>
<code>{n: Qp(2)(n) for n in [1..10]}</code> searches $1$, ..., $10$ up to $O(2^{20})$ as $2$-adic numbers; 
note that 20 is the standard precision for Qp in sage.
</li>
</ul>
</li>

<li id="how-to-search-polynomials">
<div class="li-header">Lists of polynomials over $\mathbb{Q}$</div>
Similarly one can search for multivariate polynomials over $\mathbb{Q}$.
As only expressions are accepted (mainly for safety reasons), we can define the variables as in the following example:<br>
<ul>
<li>
<code>[{n: x^2 + n for n in [1..10]} for x,y in [polygens(QQ,2,'x')]]</code> 
searches for polynomials $x^2+n$ for integers $n=1,\ldots,10$, where we allow two variables $x$ and $y$.
</li>
</ul>
</li>

[{n: x^2 + n for n in [1..10]} for x,y in [polygens(QQ,2,'x')]]


</ul>

