{% load static %}

<style>
.highlight .ui-menu-item {
  background: #fff;
}
.highlight .ui-state-active {
  background: #eee;
}
a.ui-menu-item-wrapper {
  display: block;
  text-decoration: none;
}
#searchbox.ui-autocomplete-loading {
/*  text-decoration: underline;     
  text-decoration-color: #aaa;
*/  
}

#searchbox-component {
  --searchbox-width: calc(20rem + 10 * var(--lrem));
    
  display: block;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 0px;
  color: #000;
  background-color: #fff;
  outline: 0;
  width: var(--searchbox-width);
  text-align: left;
  margin: auto;
}
#searchbox-component:focus-within {
  box-shadow: 0 0 10px #ddd;
}
#searchbox {
  border: 1px solid black;
  border: none;
  margin: 0;
  padding: 10px;
  outline: 0;
  width: calc(var(--searchbox-width) - 1.8rem - 3px);
  border-radius: 5px;
}
#searchbox-image {
  width: calc(1rem);
  /*border: 1px solid black;*/
}
</style>


<div id="searchbox-container">
  <!--<label for="searchbox">Search a number:</label>
  -->
  <div id="searchbox-component">
    <input id="searchbox" {# placeholder="Try 3.14 or L-function" #} 
      {% if searchterm %} value="{{ searchterm }}" {% endif %}
    ><img id="searchbox-image" src="{% static 'search.png' %}">
  </div>
  
  <span style="display:none" id="msg-no-record">No Record Found</span><br>
  <span style="display:none" id="msg-no-entry">No match in database</span><br>
</div>


 
<script>
$(document).ready(function(){
    //all the jquery code must be placed here
    
    $.widget( "numberdb.searchbox", $.ui.autocomplete, {
	_renderItem: function( ul, item ) {
	    if (item['type'] == 'tag') { 
		li = $( "<li></li>" )
		    .append(`<a href="${item.url}">${item.title}<br>&nbsp;&nbsp;${item.subtitle}</a>`)
		    //.append(`<a href="${item.url}">${item.title}</a>`)
		    .appendTo( ul );
	    } else if (item['type'] == 'number') { 
		li = $( "<li></li>" )
		    .append(`<div><a href="${item.url}">${item.title}</a><br>&nbsp;&nbsp;${item.subtitle}</div>`)
		    .appendTo( ul );
	    } else if (item['type'] == 'collection') { 
		li = $( "<li></li>" )
		    .append(`<a href="${item.url}">${item.title}<br>&nbsp;&nbsp;${item.subtitle}</a>`)
		    .appendTo( ul );
	    }
	    return li;
	}
    });
    
    var selectItem = function (event, item) {
	//$("#searchbox").val(ui.item.value);
	//return false;
	console.log("select():")
	console.log(event)
	console.log(item)
	event.preventDefault();
	window.location.href = item.item.url
    }
    
    var getData = function (request, response) {
 
	var term = $('#searchbox').val().trim();
	if (term == '') {
            $('#msg-no-record').hide();
            $('#msg-no-entry').hide();
	    return;
	}
	var api_url = "{% url 'db:suggestions' %}";
	$.getJSON(api_url, { 'term': term },
 
	    function (data) {
		//console.log(data);
		console.log(data['time_request']);
		entries = data['entries'];
		var availableTags = [];
		if (entries == '4') {
	            $('#msg-no-record').show();
	            $('#msg-no-entry').hide();
 	        } else if (Object.keys(entries).length == 0) {
	            $('#msg-no-record').hide();
	            $('#msg-no-entry').show();
		} else {
		    //console.log(Object.keys(entries));
	            $('#msg-no-record').hide();
	            $('#msg-no-entry').hide();
	            availableTags = entries;
	        }
		response(availableTags);
	     }
	);
    };
    
    
    $( "#searchbox" ).searchbox({
    	//source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
	source: getData,
        select: selectItem,
        minLength: 0,
        change: function() {
	    var term = $('#searchbox').val().trim();
	    if (term == '') {
		$('#msg-no-record').hide();
		$('#msg-no-entry').hide();
	    }
	},
	focus: function( event, ui ) {
	    //console.log("focussed:", ui);
	    return false; //Avoids search text to be altered?
	},
/*	close: function( event, ui ) {
	    console.log("closing",ui);
	    //event.preventDefault();
	    $('.ui-autocomplete').show()
	    return false; //Avoids search text to be altered?
	},
*/	classes: {
	    "ui-autocomplete": "highlight",
	    //"ui-menu-item": "highlight"
	}
    });

    $( "#searchbox" ).focus(function () {
	//console.log("focus");
	$(this).searchbox("search");
	//$('.ui-autocomplete').show(); 
	//show() may not be good enough:
	//
	return true;
    });
    
    $( "#searchbox-image, #searchbox-component").bind( 
	"click", 
	function() {
	    var sb = document.getElementById("searchbox");
	    if (sb !== document.activeElement) {
		sb.focus();
	    }
	}
    ); 
    
});
</script>




