<style>
div.table-title {
  font-weight: 400;
  font-size: 2rem;
  margin: 0.2rem 0rem;   
}
a.link-below-title {
  font-size: 0.8rem;
  color: #555;
  text-decoration: dotted underline;
  /*float: right;*/
}
a.link-below-title:hover {
  text-decoration: underline;   
}
</style>



<div id="table-title" class="table-title">{{ table.title }}</div>

<a class="link-below-title" target="_blank" href="https://github.com/bmatschke/numberdb-data/tree/main/{{ table.path }}/table.yaml">edit on github</a>
{% if preview %}
{% else %}
  &middot; 
  <a class="link-below-title" href="{% url 'db:preview-table' table.tid %}">preview edits</a>
  {% if history %}
    &middot; 
    <a class="link-below-title" href="{% url 'db:table' table.tid %}">back to table</a>
  {% else %}
    &middot; 
    <a class="link-below-title" href="{% url 'db:table-history' table.tid %}">show history</a>
    {% if requested_url %}
      &middot; 
      <a class="link-below-title add-current-hash" href="{% url 'db:table' table.tid %}">short url</a>
    {% else %}
      &middot; 
      <a class="link-below-title add-current-hash" href="{% url 'db:table_by_url' table.url %}">long url</a>
    {% endif %}
  {% endif %}
{% endif %}
{% if tags %}
  &middot; 
  {% for tag in tags %}
    <a class="tag" href="{% url 'db:tag' tag.url %}">{{ tag.name | safe }}</a>
  {% endfor %}
{% endif %}

<script>
$(document).ready(function(){
    $( ".add-current-hash" ).map(function() {
        this.href += window.location.hash;
        //console.log(this);
    })
});
</script>

<div></div>

